<blockquote>
  <p>Creo Coin was built to help increase the adoption of cryptocurrency among successful people.</p>
  <footer><a href="http://www.creocoin.com/" target="_blank">http://www.creocoin.com/</a></footer>
</blockquote>
